<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./public/css/style.css"> 
    <title>Crime Map - gang</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Prompt JavaScript - this can be moved to a separate .js file if desired -->
    <style>.map { height:700px}</style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body onload="Prompt()">
        <div id="dialog-form">
            <label for="name">URL for St. Paul Crime API:</label>
            <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;"/>
        </div>
        <div id="app">
          <input type="text" name="box" class="searchbox" v-model="inputSearch" placeholder="Search..." v-on:keyup.enter="search">
          <a href="./public/about.html">About The Project</a>
            <div id="map" class="map"></div>
        </div>
        <div id="table">
                <h2>Legend</h2>
                <p><font color="red">Red</font>: Violent Crime <font color="blue">Blue</font>: Property Crime <font color="green">Green</font>: Other Crime</p>
                <table id="firstTable">
                  <thead>
                    <tr>
                      <th>Case Number</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Incident</th>
                      <th>Police Grid</th>
                      <th>Neighborhood</th>
                      <th>Block</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr v-for="theCase in originalCases" v-if="theCase.isVisible" @click="placeMarker(theCase.date, theCase.time, theCase.incident, theCase.block)" v-bind:style="{ 'background-color': theCase.color }">
                      <td v-if="theCase.isVisible">{{theCase.case_number}}</td>
                      <td v-if="theCase.isVisible">{{theCase.date}}</td>
                      <td v-if="theCase.isVisible">{{theCase.time}}</td>
                      <td v-if="theCase.isVisible">{{theCase.incident}}</td>
                      <td v-if="theCase.isVisible">{{theCase.police_grid}}</td>
                      <td v-if="theCase.isVisible">{{theCase.neighborhood_number}}</td>
                      <td v-if="theCase.isVisible">{{theCase.block}}</td>
                    </tr>
                  </tbody>
                </table>
        </div>

        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./public/appvue.js"></script>
    </body>
</html>


