table {
    border-collapse: collapse;
    border: 3px solid #000000;
    margin: 10px 10px 0 10px;
  }
  
  table th {
    text-transform: uppercase;
    text-align: left;
    background: #000000;
    color: #FFF;
    padding: 8px;
    min-width: 30px;
  }
  
  table td {
    text-align: left;
    padding: 8px;
    border-right: 2px solid #7D82A8;
  }

  table tr {
      cursor: pointer;
  }

  
      